@using Curso.ASPNETMVC.TreinaWeb.Models
@model Pessoa

@{
    ViewBag.Title = "Saudacao";
}

<h2>Saudacao</h2>

<p>Olá, seja bem-vindo(a) @Model.Nome</p>
@Html.LabelFor(p => p.Idade) @Html.EditorFor(p => p.Idade)
@Html.LabelFor(p => p.Endereco) @Html.EditorFor(p => p.Endereco)
@Html.LabelFor(p => p.Email) @Html.EditorFor(p => p.Email)